
.box{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    margin: 40px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
            /* verticle horizontal blurness spread color inset */
    box-shadow: 4px 4px 10px 1px rgb(204, 0, 255) ;
    
}
