.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around
}

.card {
    height: 300px;
    width: 250px;
    text-align: center;
    align-content: center;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px red;
}

.card:hover {
    /* transform: scale(1.1); */
    transform: translateY(-50px);
    background-color: rgb(43, 226, 46);
    box-shadow: 2px 2px 4px 2px rgb(247, 0, 255);
    transition: all 1s;


}